= render WordPanelComponent.new(word: adjective) do |component|
  - component.with_description do
    - if local_assigns[:description].present?
      - if description.is_a?(Array)
        = separate description
      - else
        = description
