= title_with_actions Adjective.model_name.human count: 2

= render 'shared/filter'
= render 'words/index', words: @adjectives do
  = link_to t('adjectives.index.new'), new_adjective_path, class: 'button primary', 'data-turbo-frame': '_top' if can?(:create, Adjective)
