- unless first
  .hidden.sm:block{"aria-hidden": "true"}
    .py-5
      .border-t.border-gray-200

%div{class: first ? "" : "mt-10 sm:mt-0"}
  .md:grid.md:grid-cols-3.md:gap-6.my-6
    .md:col-span-1
      .px-4.sm:px-0
        %h2.text-lg.font-medium.leading-6.text-gray-900.mt-0.ml-0= title
        %p.mt-1.text-sm.text-gray-600= description

    .mt-5.md:mt-0.md:col-span-2
      = yield
