.fixed.bottom-0.left-0.right-0.bg-white.border-t.border-gray-300.shadow-lg.py-3.px-4.z-40.hidden{data: {bulk_select_target: "actionBar"}}
  .max-w-7xl.mx-auto.flex.flex-wrap.items-center.gap-4
    %span.text-sm.font-medium{data: {bulk_select_target: "actionBarCount"}}
    %button.button.button-sm{type: "button", data: {action: "click->bulk-select#reset"}}= t('bulk_edits.index.clear_selection')
    .ml-auto
      = form.submit t('bulk_edits.index.apply'), class: 'button primary', disabled: true, data: {bulk_edit_form_target: "submitButton", bulk_select_target: "submitButton"}
