.mt-4.syllables-font
  - if word_view_setting.show_house
    = "`9 "

  - if word_prefix.present?
    = word_prefix

  - if word_view_setting.show_syllable_arcs && syllables.compact_blank.present?
    - syllables_with_arcs.each do |syllable|
      %span{ class: word_view_setting.color_syllables ? cycle('syllable-color1', 'syllable-color2') : nil }>= syllable
  - else
    = syllables.join.presence || word
