.flex.items-center.gap-2
  = radio_button_tag 'filterrific[filter_type]', value, current_word_type == value, data: {action: "input->form-submission#search"}, disabled: !has_results?
  = label_tag 'filterrific[filter_type]', label, for: "filterrific_filter_type_#{value}", class: has_results? ? '' : '!text-gray-300'
