.flex.items-center.gap-2
  = form.radio_button :filter_type, value, data: {action: "input->form-submission#search click->filter##{filter_callback}"}, disabled: !has_results?
  = form.label :filter_type, label, value:, class: has_results? ? '' : '!text-gray-300'
