.nested-form-wrapper
  .flex.w-full.gap-2
    = text_field_tag "#{model}[example_sentences][]", sentence, class: 'flex-grow'
    %button.text-gray-400(type="button" data-action="nested-form#remove")= heroicon 'x-mark'
