- if word.example_sentences.present?
  = two_column_card t('words.show.example_sentences.title'), t('words.show.example_sentences.description') do
    = box padding: false, class: 'striped' do
      - word.example_sentences.each do |sentence|
        .p-4
          = sentence
          = render 'words/tts', word: word, sentence: sentence