<div class="flex flex-col gap-y-12 md:grid md:grid-cols-2 md:gap-12">
  {{ header }}

  {% box Eigenschaften %}
    {% box_grid %}
      <div>Wortart</div><div>Funktionswort</div>
      <div>Worttyp</div><div>{{ function_type }}</div>
      <div>Schreibsilben</div><div>{{ written_syllables }}</div>
    {% endbox_grid %}
  {% endbox %}

  {{ other_meanings_box }}
</div>
