<div class="p-4 bg-white" style="width: 15cm; height: 21cm">
  <div class="flex justify-between">
    <div>
      <div><strong>{{ name }}</strong></div>
    </div>

    <span>{{ word_type }}</span>
  </div>

  <div class="grid" style="grid-template-columns: 30% 1fr">
    <div class="text-right mr-2 mt-4">{{ labels.syllables }}</div>
    <div>{{ syllables }}</div>
  </div>
</div>
