= title_with_actions t('.title') do
  = button_to t('actions.delete'), theme_path(@theme), class: 'button danger', method: :delete, 'data-turbo-confirm': t('confirmations.shared.destroy', name: @theme.name) if can?(:destroy, @theme)

= simple_form_for @theme, html: { 'data-controller': 'code-editor reveal' } do |f|
  = render 'form'
