= title_with_actions t('.title') do
  = link_to t('actions.delete'), user_path(@user), method: :delete, class: 'button danger', data: { confirm: t('confirmations.users.destroy', email: @user.email) }

= render 'form'
