<div class="relative py-16 overflow-hidden bg-white">
  <div class="hidden lg:absolute lg:inset-y-0 lg:block lg:h-full lg:w-full lg:[overflow-anchor:none]">

  </div>
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="mx-auto text-lg max-w-prose">
      <h1>
        <span class="block mt-2 text-3xl font-bold leading-8 tracking-tight text-center text-gray-900 sm:text-4xl">Impressum</span>
      </h1>

      <p class="mt-8 text-xl leading-8 text-gray-500">Wort.Schule ist das Ergebnis des Projekts UnsereWörter der Sophie-Scholl-Schulen gGmbH in Zusammenarbeit mit der Universität Bremen.</p>
    </div>
    <div class="mx-auto mt-6 prose prose-lg text-gray-500 prose-indigo">
      <p>Das Projekt wurde gefördert durch

      </p>
      <ul role="list">
      <li><a href="https://www.uni-bremen.de">Universität Bremen</a></li>
      <li><a href="https://www.sophie-scholl-schulen.de">Sophie-Scholl-Schulen - gemeinnützige GmbH - Schulen in freier Trägerschaft</a></li>
      <li><a href="https://www.aktion-mensch.de">Aktion Mensch</a></li>
      </ul>

      <div class="bg-white">
      <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
          <div class="flex justify-center col-span-1 md:col-span-2 lg:col-span-1">
          <img src="https://www.uni-giessen.de/ueber-uns/veranstaltungen/sonstige/AM_Foerderungs_Logo_RGB.png" alt="Förderung durch die Aktion Mensch" width="200" height="200" />
          </div>
          <div class="flex justify-center col-span-1 md:col-span-2 lg:col-span-1">
          <img src="https://www.sophie-scholl-schulen.de/fileadmin/resources/gfx/logos/sophieSchollSchulen.png" alt="Sophie-Scholl-Schulen - gemeinnützige GmbH - Schulen in freier Trägerschaft" width="200" height="200" />
          </div>
        </div>
      </div>
    </div>
    
      <h2>Lizenz</h2>

      <p><a href="https://creativecommons.org/publicdomain/zero/1.0/deed.de">CC0 1.0 Universell (CC0 1.0) Public Domain Dedication</a></p>

<p>Alle Inhalte und Zeichnungen stehen unter einer cc-0-Lizenz zur Verfügung. Wir freuen uns über eine Quellenangabe Wort.schule, aber sie ist optional. </p>

<p>Der Quellcode von Wort.Schule steht unter einer MIT Lizenz auf Github zur Verfügung. </p>

<p>Die Wörter wurden an verschiedenen Schulen gesammelt und von einer Community ergänzt. <a href="https://github.com/wort-schule/wort.schule/issues/new">Falls Ihnen Fehler auffallen, melden Sie diese bitte online.</a></p>
     


<pre>
  Angaben gemäß § 5 TMG 
  Prof. Dr. Frank J. Müller  
  Universität Bremen  
  Bibliotheksstraße 1 
  28359 Bremen  


  Vertreten durch:  
  Prof. Dr. Frank J. Müller  
  Universität Bremen 


  Inhaltliche Fragen an: 
  Dr. Anna Driver 
  inhalt@wort.schule 
</pre>
<p> 
Technische Anfragen oder Fehlermeldungen über GitHub: 
 </p>
 
 <pre>
Kontakt:  
Telefon: 0421-21869305 
E-Mail: info@wort.schule 
</pre>

    </div>
  </div>
</div>
