.overflow-hidden.bg-white
  .relative.px-4.py-16.mx-auto.max-w-7xl.sm:px-6.lg:px-8
    .absolute.top-0.bottom-0.hidden.w-screen.bg-gray-50.lg:block{:class => "left-3/4"}
    .mx-auto.text-base.max-w-prose.lg:grid.lg:max-w-none.lg:grid-cols-2.lg:gap-8
      %div
        %h1.mt-2.text-3xl.font-bold.leading-8.tracking-tight.text-gray-900.sm:text-4xl
          Wort Index
    .mt-8.lg:grid.lg:grid-cols-2.lg:gap-8
      .mt-8.lg:mt-0
        .mx-auto.mt-5.text-gray-500.prose-indigo.lg:col-start-1.lg:row-start-1.lg:max-w-none
          - [*('a'..'z'), 'ä', 'ö', 'ü'].each do |letter|
            .mt-5.md:col-span-2.inline-block
              .box.bg-white.shadow.sm:rounded-lg.striped
                .p-4
                  = link_to letter.upcase, word_index_letter_path(letter: letter)

