- sentence ||= nil
- if word&.audios&.attached?
  - audio = sentence.present? ? word.audio_for_example_sentence(sentence) : word.audio_for_word
  %div(data-controller="medium")
    %audio.w-full(src="#{url_for audio}" controls data-medium-target="mediaElement")
