.px-6.mt-12.flex.flex-row.flex-wrap.md:justify-center.gap-2.md:gap-8.tabbed-radio-buttons
  = render WordTypeFilterComponent.with_collection([:all, Noun, Verb, Adjective, FunctionWord], counts: @counts, current_word_type: @filter_type, current_word_type_wording: current_word_view_setting.word_type_wording)
