.syllables {
  @apply flex;
}

.syllables span {
  @apply relative;
}

.syllables span::after {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  content: '';
  display: block;
  height: 1.5rem;
  border-bottom: 3px black solid;
  border-radius: 0 0 30px 30px;
}
