%button(type="button" class="bg-primary-selected inline-flex items-center justify-center p-2 rounded-md text-gray-200 hover:text-white hover:bg-primary-hover focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-primary-selected focus:ring-white" aria-controls="mobile-menu" aria-expanded="false" data-action="click->reveal#toggle")
  %span.sr-only= t 'navigation.open_menu'
  = heroicon 'bars-3', options: {class: 'block !h-6 !w-6', 'data-reveal-target': 'item'}
  = heroicon 'x-mark', options: {class: 'hidden !h-6 !w-6', 'data-reveal-target': 'item'}
