%nav.bg-primary.print:hidden(data-controller="reveal" data-reveal-hidden-class="hidden")
  .max-w-7xl.mx-auto.px-4.sm:px-6.lg:px-8
    .flex.items-center.justify-between.h-16
      .flex.items-center
        .flex-shrink-0
          .flex.items-center.justify-center
            = link_to t('navigation.site_title'), root_path, class: 'text-white font-bold text-3xl uppercase'

      = render 'desktop_user_menu'

      .-mr-2.flex.md:hidden
        = render 'mobile_menu_button'

  = render 'mobile_menu'
