.p-4
  - if @reviewable.word_attribute_edits.present?
    = render 'word_attribute_edits'
  - elsif @reviewable.new_word.present?
    = render Reviews::NewWordComponent.new(change_group: @reviewable)
