<footer class="bg-white">
  <div class="px-4 py-12 mx-auto overflow-hidden max-w-7xl sm:px-6 lg:px-8">
    <nav class="flex flex-wrap justify-center -mx-5 -my-2" aria-label="Footer">
      <div class="px-5 py-2">
        <a href="/page/impressum" class="text-base text-gray-500 hover:text-gray-900">Impressum</a>
      </div>

      <div class="px-5 py-2">
        <a href="https://github.com/wort-schule/wort.schule" class="text-base text-gray-500 hover:text-gray-900">Quellcode auf GitHub</a>
      </div>

      <div class="px-5 py-2">
        <a href="https://github.com/wort-schule/wort.schule/issues/new" class="text-base text-gray-500 hover:text-gray-900">Fehler melden</a>
      </div>

    </nav>

    <p class="mt-8 text-base text-center text-gray-400">&copy; 2022 Wort.Schule Projekt</p>
  </div>
</footer>
