<footer class="text-center text-gray-600 bg-gray-100 lg:text-left">
  <div class="flex items-center justify-center p-6 border-b border-gray-300 lg:justify-between">
  </div>
  <div class="py-10 mx-6 text-center md:text-left">
    <div class="grid gap-8 grid-1 md:grid-cols-2 lg:grid-cols-4">
      <div class="">
        <h6 class="flex items-center justify-center mb-4 font-semibold uppercase md:justify-start">
          wort.schule
        </h6>
        <ul class="list-disc">
        <li><a href="/page/impressum">Impressum</a></li>
        <li><a href="https://github.com/wort-schule/wort.schule">Quellcode auf GitHub</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="p-6 text-center bg-gray-200">
    <span>© 2022 Copyright</span>
    wort.schule Projekt
  </div>
</footer>